<html>
  <head>
      <link rel="stylesheet" href="stylesheet.css"/>
  </head>

  <body>
    <img src ="image.png"> 
    <h1> Delete Complete Task</h1></br>
    
  <h1> 
     <a href = "/NewTask">Add new Task</a> 
     <a href = "/listTasks">List All Task</a>
     <a href = "/deleteTask">Delete Task</a>
     <a href = "/updateTask">UpdateTask</a>
     <a href = "/NewDeveloper">Add new Developer</a>
     <a href = "/listDevelopers">List Developer</a>
   </h1>

   <form action="/deletetaskdatecompleted" method="POST">
         
    Delete Completed Task
 
   <select type = "text" name = "taskstatus" multiple>
       <option value ="inProgress">In Progress</option>
       <option value ="complete"> Complete</option>        
   </select> 
  
   <input type="submit" value="Submit" /> </br>
      </form>
   </body>
</html>