<head>
      <link rel="stylesheet" href="stylesheet.css"/>
  </head>

<body>
    <img src ="image.png"> 
    <h1>
      Home page 
    </h1></br>
    
  <h1> 
     <a href = "/NewTask">Add new Task</a> 
     <a href = "/listTasks">List All Task</a>
     <a href = "/deleteTask">Delete Task</a>
     <a href = "/updateTask">UpdateTask</a>
     <a href = "/deleteTaskComplete">deleteTaskComplete</a>
     <a href = "/NewDeveloper">Add new Developer</a>
     <a href = "/listDevelopers">List Developer</a>
   </h1>

</body>
</html>
 