<html>
  <head>
    <link rel="stylesheet" href="stylesheet.css"/>

      <style> 
        table,th,td {
            border: 1px solid black;
        }
       </style>
  </head>

  <body>
        <h1>listTasks</h1></br>

        <h1>
                <a href = "/">Home</a> 
                <a href = "/NewTask">Add newTask</a>
                <a href = "/deleteTask">deleteTask</a>
                <a href = "/updateTask">updateTask</a>
                <a href = "/deleteTaskComplete">deleteTaskComplete</a>
                <a href = "/NewDeveloper">Add new Developer</a>
                <a href = "/listDevelopers">List Developer</a>
        </h1>
      
        <h3>
         <table>
          <tr>
             <td>Task ID </td>
              <td>Taskname</td>
              <td>Due Date</td>
              <td>Description</td>
              <td>AssignTo</td>
              <td>Status</td>
          </tr>
        <% for (var i = 0; i<tasks.length; i++){%>
          <tr>
              <td>
                    <!-- <%= tasks[i]._id %> -->
                  <%= tasks[i].taskId %> 
              </td>
            
              <td>
                  <%= tasks[i].Taskname %>
              </td>

              <td>
                  <%= tasks[i].DueDate %>
              </td>

              <td>  
                    <%= tasks[i].TaskDesc%>
              </td>

              <td>
                    <%= tasks[i].AssignTo %>
              </td>

              <td>
                  <%= tasks[i].TaskStatus %>
              </td>

        </tr>
        <% }%>
    </table>
 </h3>    
</body>
</html>