<head>
     <link rel="stylesheet" href="stylesheet.css"/>
  </head>

  <body>
    <h1>New Developer</h1></br>
    <h1>
            <a href = "/">Home</a> 
            <a href = "/NewTask">Add newTask</a>
            <a href = "/deleteTask">deleteTask</a>
            <a href = "/updateTask">updateTask</a>
            <a href = "/deleteTaskComplete">deleteTaskComplete</a>
            <a href = "/listDevelopers">List Developer</a>
    </h1>

    <form action="/NewDeveloper" method="POST">
        <label>firstName</label>
        <input type = "text" method="POST" name="firstname"/></br>

        <label>lastName</label>
        <input type = "text" method="POST" name="lastname"/></br>
  
        <label>level</label>
        <select type ="text" method="POST" name="level" multiple>
          <option value ="Beginner">Beginner</option>
          <option value ="Expert">Expert</option>
        </select></br>

        <label>State</label>
        <input type = "text" method="POST" name="State"/></br>

        <label>Suburb</label>
        <input type = "text" method="POST" name="Suburb"/></br>

        <label>Street</label>
        <input type = "text" method="POST" name="Street"/></br>

        <label>Unit</label>
        <input type = "number" method="POST" name="Unit"/></br>

        <input type="submit" value="Submit" /> </br>

    </form>
  </body>
</html>