<html>
  <head>
      <link rel="stylesheet" href="stylesheet.css"/>
  </head>
<body>
     <h1> Newtask Page </h1>
     <h1>
    <a href = "/">Home</a> 
    <a href = "/updateTask">updateTask</a>
    <a href = "/listTasks">List Tasks</a>
    <a href ="/deleteTask">Delete Task</a>
    <a href = "/deleteTaskComplete">deleteTaskComplete</a>
    <a href = "/NewDeveloper">Add new Developer</a>
    <a href = "/listDevelopers">List Developer</a>
    </h1>

    <form action= "/addTask" method = "POST">

        <label> Task Name</label>
        <input type = "text" method="POST" name="Taskname"/></br>
      

        <label>Due Date</label>
        <input type = "date" method="POST" name= "DueDate"/></br>
     
         
        <label>Task Description</label>
        <input type = "text" method="POST" name= "TaskDesc" /></br>
   
        <label>Assign To</label>
        <input type="text" method="POST"  name="AssignTo"/></br> 
      
      </input>

        <label>Task Status</label>
        <select type ="text" method="POST" name="TaskStatus" multiple>
          <option value ="inProgress">In Progress</option>
          <option value ="complete"> Complete</option>
        </select>

           <input type="submit" value="Submit" /> </br>
   </form>
    
</body>

</html>