<html>
  <head>
      <link rel="stylesheet" href="stylesheet.css"/>
  </head>

  <body>
      <h1>Update Task</h1></br>

      <h1>
          <a href="/">Home</a>
          <a href="/listTasks">List Task</a>
          <a href="/deleteTask">Delete Task</a>
          <a href="/NewTask">New Task</a>
          <a href = "/deleteTaskComplete">deleteTaskComplete</a>
          <a href = "/NewDeveloper">Add new Developer</a>
          <a href = "/listDevelopers">List Developer</a>
    
      </h1>

      <form action="/updateTaskdata" method="POST">

        <label>Task ID</label>
        <input type="text" method ="POST" name ="taskId" /> </br> 
    
          Task New Status
          <select type ="TaskStatus" method= "POST" name="TaskStatus" multiple>
            <option value ="inProgress">In Progress</option>
            <option value ="complete"> Complete</option>
          </select>
  
          <input type="submit" value="Submit" /> </br>
      
    </form>
  </body>
</html>
